header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 40px;
    background-color: var(--color-bg);

    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo h1 {
    font-family: var(--font-display);
    font-size:26px ;
    font-weight: 700;
    /* color: #2563eb; */
    color: var(--color-primary);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

li a{
    text-decoration: none;
    font-family: var( --font-sans);
    font-size: 15px;
    font-weight: 500;
    color: var(--color-white);
}