header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 40px;
    background-color: #040d22;

    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo h1 {
    font-family: 'Orbitron', sans-serif;
    font-size:26px ;
    font-weight: 700;
    /* color: #2563eb; */
    color: #ffffff;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}