main {
    background-image: url("../src/assets/fundohero.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 240px;
}

.hero {
    max-width: 500px;
    width: 100%;
    margin-left: var(--space-lg);
    color: var(--color-white);
}

.hero h1 {
    font-size: 40px;
    font-family: var(--font-sans);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: var(--space-md);
}

span {
    color: var(--color-accent);
}

.hero p {
    font-size: 18px;
    font-family: var(--font-sans);
    line-height: 1.5;
    margin-bottom: var(--space-md);
}

.arrow-right {
    filter: invert(100%)
}


.call-action a {
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-sans);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--color-white);
    padding: 15px 20px;
    border-radius: var(--radius-md);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 30px 80px 0;
    color: var(--color-white);
    font-family: var(--font-sans);

}

.info-icon {
    display: flex;
    flex-direction: column;
}

.icon-item {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;

}

.icon-item h2 {
    font-size: 15px;
    font-family: var(--font-sans);
    font-weight: 500;

}

.icon-item p {
    font-size: 15px;
    font-weight: 200;
    max-width: 220px;
}

.icon-img {
    filter: invert(32%) sepia(92%) saturate(1988%) hue-rotate(233deg) brightness(95%) contrast(92%);
    margin-bottom: 40px;
}

.btn.btn-outline-secondary:hover {
    background-color: rgba(108, 117, 125, 0.05);
    border: 1px solid var(--color-white);
    color: #6c757d;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-sans);
    font-size: 15px;
    font-weight: 500;
}