.icon-code {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: var(--icon-size);
/* 
    background-color: #111827; */
    border-radius: var(--radius-md);

    color: var(--color-primary);
}

.btn-hero {
    padding: var(--btn-padding);
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: var(--font-sans);
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

